/* google font imported link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* global styles */
* {
    margin: 0;
    padding: 0;
}

/* css custom styles */
:root {
    --primary-text-color: #3a3a3a;
    --primary-button-color: #E02C6D;
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --ordinary-font: "Roboto", sans-serif;
    --font-size: 1.5rem;
    --font-weight-700: 700;
    --font-weight-600: 600;
    --primary-line-height: 70px;
}
/* common button */
.btn-primary {
    color: #fff;
    border: none;
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: var(--font-weight-700);
    background-color: var(--primary-button-color);
}
/* common title */
.title {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-family: var(--primary-font);
}

/* section description */
.section-description {
    max-width: 505px;
    padding: 16px 0;
    font-family: var(--primary-font);
}
/* text align center */
.text-center {
    text-align: center;
}

/* header styles */
header {
    font-family: var(--primary-font);
}
.navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "logo logo logo logo menu-item header-icon";
    padding: 88px 120px 0;
}

/* logo styles */
.logo {
    color: var(--primary-text-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight-700);
    grid-area: logo;
}

/* menu styles */
.menu-item {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-right: 36px;
    grid-area: menu-item;
}
.menu-item > li {
    list-style: none;
}
.menu-item > li > a {
    color: var(--primary-text-color);
    font-weight: var(--font-weight-600);
    text-decoration: none;

}

/* header icon */
.header-icon {
    display: flex;
    align-items: center;
    grid-area: header-icon;
}

/* header search icon */
.fa-magnifying-glass {
    font-size: 1.5rem;
}

/* header cart icon */
.fa-cart-shopping {
    font-size: 2.25rem;
    padding-left: 36px;
}

/* banner styles */
#banner-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px 70px;
}
.banner-title {
    max-width: 582px;
    color: var(--primary-text-color);
    font-size: 52px;
    line-height: var(--primary-line-height);
}
.banner-text > .section-description {
    color: var(--primary-text-color);
    font-weight: var(--font-weight-600);
}

/* banner button */
.banner-btn {
    border-radius: 41px;
}

/* banner image */
.banner-img {
    padding-right: 12px;
}
.banner-img img{
    background: url(../images/banner-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* sponsor company logos styles */
.sponsor-logos {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

/* products collection styles */
.products-area {
   padding-top: 6.25rem;
   padding-bottom: 3.125rem;
}

/* products container */
.container {
    max-width: 1047px;
    margin: 0 auto;
}
.container > .title {
    margin-bottom: 1.875rem;
}

/* products */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 50px;
}

/* product */
.product {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
}
.product > img {
    margin-bottom: 1rem;
}
.product > .title {
    margin-bottom: 6px;
}
.product-price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    line-height: 2.25rem;
}
.product-info {
    padding: 8px 0;
}
.product-rating-icon {
    margin-right: .5rem;
}
.product-rating-icon > i {
    color: #FB8200;
}
.product-rating-amount {
    color: #5E6366;
    font-size: 0.875rem;
    font-weight: var(--font-weight-700);
    font-family: var(--ordinary-font);
    letter-spacing: 0.1px;
}
.product-additional-info {
    width: 196px;
    color: #787885;
    font-size: 0.875rem;
    font-weight: var(--font-weight-700);
    font-family: var(--secondary-font);
    letter-spacing: 0.252px;
    line-height: 20.02px;
}

/* see more */
.see-more {
    color: var(--primary-button-color);
    text-decoration: none;
    font-weight: var(--font-weight-700);
    font-family: var(--primary-font);
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

/* featured styles */
.featured-area {
    display: flex;
    align-items: center;
    gap: 96px;
}
.featured-text > .section-description {
    color: #6c6c6c;
    font-weight: var(--font-weight-700);
}

/* responsive styles for small device */
@media screen and (max-width: 576px) {
    .navbar {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "menu-item" 
        "logo" 
        "header-icon"
        ;
        justify-items: center;
        gap: 30px;
        padding: 30px 0;
    }
    #banner-area {
        flex-direction: column-reverse;
        padding: 30px;
    }

    /* sponsor logos */
    .sponsor-logos {
        padding: 20px;
        gap: 30px;
    }

    /* products */
    .products {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* featured styles */
    .featured-area {
        flex-direction: column;
        gap: 30px;
    }
    .featured-text {
        padding: 0 40px;
    }
}

/* responsive media query styles for medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    /* navbar */
    .navbar {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo menu-item header-icon"
        ;
        justify-items: center;
        gap: 20px;
        padding: 30px 0;
    }
    .menu-item {
        gap: 10px;
        margin-right: 10px;
    }
    .fa-cart-shopping {
        font-size: 28px;
        padding-left: 10px;
    }
    #banner-area {
        flex-direction: column-reverse;
        padding: 15px;
    }

    /* sponsor styles */
    .sponsor-logos{
        padding: 50px;
        gap: 15px;
    }

    /* products */
    .products {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* featured styles */
    .featured-area {
        flex-direction: column;
    }
    .featured-text {
        padding: 0 20px;
    }
}

/* responsive styles for extra large device */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    /* sponsor logos */
    .sponsor-logos{
        grid-template-columns: repeat(7, 1fr);
        padding: 50px;
        gap: 15px;
    }

    /* products area*/
    .container {
        width: 100%;
    }
    .products {
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
}
